<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--suppress ALL -->
<hibernate-configuration>
	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>


		<!-- Statistics to analyze performance, turn off in production -->
		<property name="hibernate.generate_statistics">false</property>

		<!-- Choose between connection pool or development, use pool in production -->

		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">300</property>

		<!-- Auto create empty schema on every application start, DISABLE in production -->
		<!-- READ https://docs.jboss.org/hibernate/orm/5.0/manual/en-US/html/ch03.html 
			for values -->
<!--
		<property name="hibernate.hbm2ddl.auto">validate</property>
-->

		<!-- Just createOrUpdate schema with changes on application start, DISABLE in production -->
		<!-- <property name="hibernate.hbm2ddl.auto">createOrUpdate</property> -->

		<!-- Persistent classes -->
		<mapping class="dk.knet.pop.booking.models.Language"/>
		<mapping class="dk.knet.pop.booking.models.DictionaryEntry" />
		<mapping class="dk.knet.pop.booking.models.BookableItem" />
		<mapping class="dk.knet.pop.booking.models.Booking" />
		<mapping class="dk.knet.pop.booking.models.BookingUser" />
		<mapping class="dk.knet.pop.booking.models.PostItem" />
		<mapping class="dk.knet.pop.booking.models.ClosedPeriod" />

<!-- 		<mapping class="dk.knet.pop.booking.models.Property" /> -->

	</session-factory>
</hibernate-configuration>